*{
    box-sizing: border-box;
}

.body {
    background-color: rgb(248, 242, 236);
}

.header {
    width: 100vw;
    background-color: white;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 12px;
}

.header__logo {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgb(243, 219, 4);
}

@media (min-width: 768px) {
    .header__inner {
        height: 80px;
        font-size: 50px;
        padding: 0 24px;
    }

    .header__logo {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: rgb(243, 219, 4);
    }
}