* {
    box-sizing: border-box;
}

.detail {
    position: relative;
    width: 100%;
    height: auto;
}

.detail__content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    height: 70%;
    max-height: 700px;
}

.detail__card {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.detail__card--img {
    width: 200px;
}

.img-storage,
.img-public {
    width: 100%;
    height: 100%;
}

.detail__card--meta {
    padding: 0 20px;
}

.meta__item {
    width: 100%;
    margin-bottom: 30px;
}

.meta__item-title {
    margin: 0;
}

.meta__item-input {
    width: 100%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 0 8px;
}

.season {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    font-size: 14px;
    margin-top: 10px;
}


.season__option input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    vertical-align: middle;
}

.season__option input[type="checkbox"]:checked {
    background: #7e7e7e;
}

.detail__textarea {
    margin-top: 100px;
}

.textarea {
    width: 100%;
    height: 20vh;
    max-height: 200px;
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 8px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}


.detail__button {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 30px;
}

.grid--center {
    grid-column: 2;
    display: flex;
    gap: 30px;
}

.grid--right {
    grid-column: 3;
    justify-self: end;
}

.button--back {
    width: 150px;
    padding: 4px 20px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
}

.button--update {
    width: 150px;
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: orange;
    cursor: pointer;
}

.button--delete {
    border: none;
    cursor: pointer;
    background: transparent;
    color: red;
}

.product__error {
    color: red;
}

@media (max-width: 600px) {
    .detail__card--img {
        width: 140px;
        height: 200px;
    }

    .season {
        display: flex;
        justify-content: space-between;
        width: 90%;
        font-size: 12px;
        margin-top: 10px;
    }

    .season__option input[type="checkbox"] {
        width: 14px;
        height: 14px;
        appearance: none;
        border: 2px solid #999;
        border-radius: 50%;
        vertical-align: middle;
    }

    .button--back {
        width: 110px;
        padding: 4px 10px;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        color: black;
        background-color: rgb(224, 224, 224);
        border-radius: 3px;
    }

    .button--update {
        width: 110px;
        padding: 4px 10px;
        font-size: 14px;
        border-radius: 3px;
        border: none;
        background-color: orange;
        cursor: pointer;
    }

    .button--delete {
        border: none;
        cursor: pointer;
        background: transparent;
        color: red;
    }

    .product__error {
        color: red;
        font-size: 12px;
    }
}