* {
    box-sizing: border-box;
}

.detail {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.detail__content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 700px;
}

.detail__card {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.detail__card--img {
    width: 200px;
}

.detail__card--meta {
    padding: 0 20px;
}

.meta__item {
    margin-bottom: 30px;
}

.meta__item-title {
    margin: 0;
}

.meta__item-input {
    width: 100%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 0 8px;
}

.season {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 14px;
    margin-top: 10px;
}

.season__option input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    vertical-align: middle;
}

.season__option input[type="checkbox"]:checked {
    background: #7e7e7e;
}

.textarea {
    width: 100%;
    height: 200px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}


.detail__button {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 30px;
}

.grid--center {
    grid-column: 2;
    display: flex;
    gap: 30px;
}

.grid--right {
    grid-column: 3;
    justify-self: end;
}

.button--back {
    width: 150px;
    padding: 4px 20px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
}

.button--update {
    width: 150px;
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: orange;
    cursor: pointer;
}

.button--delete {
    border: none;
    cursor: pointer;
    background: transparent;
    color: red;
}