* {
    box-sizing: border-box;
}

.store {
    position: relative;
    width: 100%;
    height: 90vh;
}

.store-content {
    max-width: 700px;
    width: 70%;
    max-height: 800px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.store-content__items {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.store-content__item {
    margin-bottom: 40px;
}

.store-content__item-header {
    font-size: 12px;
    margin: 0;
    padding: 3px 0;
}

.store-content__item-input {
    width: 100%;
    height: 25px;
    padding: 0 8px;
}

.item-header__span {
    background-color: red;
    color: white;
    padding: 2px;
}

.item-header__span-multi {
    color: red;
}

.store-content__image-preview {
    width: 200px;
    height: auto;
}

.season__option input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    vertical-align: middle;
}

.season__option input[type="checkbox"]:checked {
    background: #7e7e7e;
}

.season {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    gap: 20px;
}

.store-content__item-textarea {
    width: 100%;
    height: 100px;
    padding: 4px;
}

.store-content__item-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 400px;
    height: 30px;
    margin: 0 auto;
}

.button--back {
    width: 50%;
    max-width: 130px;
    padding: 4px 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
}

.button--store {
    width: 50%;
    max-width: 130px;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: orange;
    cursor: pointer;
}

.product__error {
    color: red;
    height: 10px;
}

@media  (max-width: 700px) {

    .button--back {
        width: 45%;
        max-width: 110px;
        padding: 4px 10px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        color: black;
        background-color: rgb(224, 224, 224);
        border-radius: 3px;
    }

    .button--store {
        width: 45%;
        max-width: 110px;
        padding: 4px 10px;
        font-size: 16px;
        border-radius: 3px;
        border: none;
        background-color: orange;
        cursor: pointer;
    }

    .product__error {
        color: red;
        font-size: 14px;
    }

}

@media (max-width: 428px) {

    .header-logo {
        text-align: center;
    }

    .product__error {
        color: red;
        font-size: 12px;
    }

}